/* кола бадж за ванове */
.car-badge {
  position: absolute;
  top: 20px;
  right: 17%;
  background-color: #6f00ff;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}